<div style="margin: 20px;">
  <h3>Sačuvaj broj:</h3>
  <label for="ime">Ime:</label>
  <input id="ime" [(ngModel)]="ime" type="text" placeholder="Unesi ime" />
  <br /><br />
  <label for="broj">Broj:</label>
  <input
    id="broj"
    [(ngModel)]="broj"
    type="text"
    placeholder="Unesi broj telefona"
  />
  <br /><br />
  <button (click)="saveToLocalStorage()">Sačuvaj broj</button>
  <button (click)="cancel()">Poništi unose</button>
  <button (click)="deleteAllFromLocalStorage()">Obriši sve</button>
  <br /><br />
  <h4>Sačuvani brojevi:</h4>
  <ul>
    <li *ngFor="let pair of keyValuePairs">
      <strong>{{ pair.key }}</strong
      >: {{ pair.value }}
      <button (click)="onEdit(pair.key, pair.value)">Izmeni</button>
      <button (click)="onDelete(pair.key)">Obriši</button>
    </li>
  </ul>
</div>
